* {
  margin: 0%;
  padding: 0;
  
}

* ::-webkit-scrollbar {
  width: 1em;
}

* ::-webkit-scrollbar-track {
  background: #333;
  border-radius: 100vw;
  margin-block: 0.5em;
}

* ::-webkit-scrollbar-thumb {
  background: palevioletred;
  border-radius: 100vw;
}

* ::-webkit-scrollbar-thumb:hover {
  background: #608fd6;
}

body {
  overflow-x: hidden;
  background-color: #333;
  
}

.container{
  height: 80vh;
}

.title-about,
.h-title,
p {
  color: #dbd9d6;
}

.h-title h3 {
  font-family: var(--font);
  font-weight: 600;
  font-size: 60px;
  color: #f9f3ee;
}

nav {
  height: 90px;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 40%;
  padding: 40px;
  padding-left: 55px;
  font-family: "Dancing Script", cursive;
  color: #f9f3ee;
  text-shadow: 1px 1px 2px #3586ff;
  cursor: pointer;
}

.menu {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
}

.menu a {
  text-decoration: none;
  color: #f9f3ee;
  text-transform: capitalize;
  font-weight: 200;
}

a:hover{
    color: #608fd6;
}

.title-about {
  padding: 20px;
}

.podcast{
  text-decoration: none;
  color: palevioletred;

}

h3 {
  
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  font-weight: bolder;
}

.header-part {
  display: flex;
}

.image {
  margin-left: 4.5em;
  margin-bottom: 2.8em;
}

.text{
  margin-left: 17em;
}

p {
  padding: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.para {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* @media (min-width: 768px){
  .md\:flex {
    display: flex;
} */

/* } */

.btn {
  border-color: transparent;
  border-color: hsla(var(--n)/var(--tw-border-opacity,1));
  cursor: pointer;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-duration: .15s;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  border-radius: var(--rounded-btn,.5rem);
  height: 3rem;
  font-size: .875rem;
  line-height: 1.25rem;
  line-height: 2;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 3rem;
  font-weight: 600;
  margin-left: 1em;
  text-transform: uppercase;
  text-transform: var(--btn-text-case,uppercase);
  border-width: var(--border-btn,1px);
  -webkit-animation: button-pop var(--animation-btn,.25s) ease-out;
  animation: button-pop var(--animation-btn,.25s) ease-out;
  --tw-bg-opacity: 1;
  background-color: hsla(var(--n)/var(--tw-bg-opacity,1));
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
  color: hsla(var(--nc)/var(--tw-text-opacity,1));
}

 a{
  text-decoration: inherit;
 }

.text-accent-content {
  --tw-text-opacity: 1;
  color: hsla(var(--ac) / var(--tw-text-opacity));
}

.to-yellow-500 {
  --tw-gradient-to: #3586ff;
}

.from-pink-500 {
  --tw-gradient-from: palevioletred;
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to, rgba(236, 72, 153, 0));
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right,var(--tw-gradient-stops));
}

.para p {
  /* display: block; */
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 27px;
  font-size: 1.3em;
}

.experience h2 {
  margin-left: 2em;
}

.timeline {
  background: var(--primary-color);
  margin-left: 5em;
  margin-top: 3em;
  padding: 20px;
}

/* Outer Layer with the timeline border */
.outer {
  border-left: 2px solid rgb(199, 196, 196);
}

/* Card container */
.card {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
  background: rgb(214, 206, 206);
  color: gray;
  border-radius: 8px;
  max-width: 400px;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Title of the card */
.title {
  color: orangered;
  position: relative;
  /* margin-left: 1em; */
  padding-left: 1em;
  padding-top: 0.2em;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -39px;
  border: 3px solid orangered;
}

.details-tech h2 {
  margin-left: 2em;
  margin-bottom: 1.5em;
  margin-top: 2em;
  font-size: 2em;
}

.tech-cards {
  display: flex;
  flex-direction: row;
  margin-bottom: 3em;
  overflow: scroll;
}

.sqaure {
  background-color: #333;
  width: 6.2em;
  height: 6.2em;
  border-radius: 1em;
  margin-left: 4.5em;
}

.js {
  align-items: center;
  margin-top: 1.5em;
  margin-left: 1.5em;
}
/* support's styling goes here*/

.support h2 {
  color: #f9f3ee;
  margin-top: 1.5em;
  margin-left: 3.5em;
  font-weight: 1500;
  line-height: 1.2;
  font-size: 2em;
}

.support p {
  color: #f9f3ee;
  font-size: 1.3em;
  margin-left: 5.5em;
}

.support p a {
  text-decoration: none;
  color: #ff5403;
}


/* podcasts's styling */

.box-pod{
    width: 40em;
    height: 13em;
    background-color: #b7b3ab;
    margin-left: 3em;
    border-radius: 2em;
    
}

/* github chart */
.Github img{
  margin-left: 8.5em;
  margin-bottom: 3em;
  margin-top: 1em;
}

.Github h1{
  margin-left: 3.5em;
  margin-bottom: 0.5em;
  margin-top: 2em;
  color: #f9f3ee;
}

.love{
  height: 2em;
  background-color: #000;
}

.love-text{
  color: #f9f3ee;
}

.tit{
  color: #000;
}