*{
    margin: 0%;
    padding: 0;
}


* ::-webkit-scrollbar{
    width: 1em;
}

* ::-webkit-scrollbar-track{
    background: #333;
    border-radius: 100vw;
    margin-block: 0.5em;

}

* ::-webkit-scrollbar-thumb{
    background: #3586ff;
    border-radius: 100vw;
    
}

* ::-webkit-scrollbar-thumb:hover{
    background: #608fd6;
}


body{
    background-color: #333;
    overflow-x: hidden;
}

nav{
    height: 90px;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 40%;
    padding: 40px;
    padding-left: 55px;
    font-family: 'Dancing Script', cursive;
    color: #F9F3EE;
    cursor: pointer;
    text-shadow: 1px 1px 2px  #3586ff;
}

.menu{
    width:60% ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

.menu a{
    text-decoration: none;
    color: #F9F3EE;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}


h3{
    font-size: 30px;
    color: #F9F3EE;
    opacity: var(--opacity);
    margin-bottom: 2rem;
    margin-top: 1.5em;
}

h4{
    color: #F9F3EE;
    font-size: 65px;
    font-family: var(--font);
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

h5{
    text-align: center;
    font-family: var(--font);
    color: #F9F3EE;
    margin-bottom:2rem ;
    font-size: 18px;
}


img.pro-one:hover {
    transform: perspective(800px) rotateY(-8deg) translateY(-20px) rotateX(10deg) scale(1);
    filter: blur(0);
    opacity: 1;
}

img.pro-one {
    border-radius: 30px;
    transition: 0.4s ease all;
    margin-left: 10em;
    margin-bottom: 2em;
    margin-top: 1em;
    width: 25em;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.text-2 p{
    color: #F9F3EE;
    font-size: 25px;
    font-family: var(--font);
    opacity: var(--opacity);
    font-weight: 600;
    margin: 3rem  !important;
    text-align: center;
}


.text-2 a{
    color: #0d6efd;
    text-decoration: none;
    

}

a:hover{
    color: #608fd6;
}

footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
}



footer .social_icon, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px  0;
    flex-wrap: wrap;
}


footer .social_icon li, footer .menu li{
    list-style: none;
}

footer .social_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover{
    transform:translate(-10px) ;
}

footer .menu li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover{
    opacity: 1;
}

footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}